*{margin: 0x; padding: 0px; box-sizing: border-box;}
#all {
    padding: 10px;
    background: #e6d4d4;
    display: grid;
    grid-template-areas: 'header header header header header header '
               'nav nav nav nav nav nav'
               'section section section section section aside'
               'footer footer footer footer footer footer ';
    grid-gap: 20px;
}
header {
    text-align: center;
    grid-area: header;
    height: 150px;
    background: white;
}
nav {
    padding-left: 10px;
    background: black;
    color: white;
    grid-area: nav;
    min-height: 50px;
}
nav ul li { width: 50px; float: left; list-style: none;}
nav  #lastlink {float: right;}
nav a {color: white; text-decoration: none;}
section {
    background: #e6d4d4;
    grid-area: section;
}
img {background: gray; width: 100%; height: 50%;}
section .left { background: white; height: 300px; padding: 20px; margin-bottom: 20px;}
aside {
    background: #e6d4d4;
    grid-area: aside;
}
aside > div {background: white; padding: 20px; margin-bottom: 20px;}
footer {
    background: rgb(170, 161, 161);
    text-align: center;
    grid-area: footer;
    height: 50px;
    line-height: 50px;
}

@media screen and (max-width:768px) {
    #all {
        grid-template-areas: 'header' 'nav' 'section' 'aside' 'footer';
    }
}
@media screen and (max-width:501px) {
    #all {
        grid-template-areas: 'header' 'nav' 'section' 'aside' 'footer';
    }
    nav ul li {float: none; text-align: center; padding: 10px;margin: auto;}
    nav #lastlink {float: none;}
}